/vendor/
/node_modules/
/composer.lock
/phpunit.result.cache
/.phpunit.cache/
/.idea/
/.vscode/
/.fleet/
/.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.env
.env.backup
.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
.php_cs.cache
.php-cs-fixer.php
coverage.xml
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpactor.json 